*{
  box-sizing: border-box;
}

body{
  background: black;
  margin:0;
}

/* h1{
  font-size:40px;
  font-family:cursive;
  color:rgb(255, 248, 189);
  text-align:center;

} */

a{
  text-decoration: none;
  color:rgb(255, 120, 85);
}

.left_top{
  color:rgb(255, 120, 85);
  font-family: 'Italianno', cursive;
  font-size: 2rem;
  position:absolute;
  text-align: left;
  width:300px;
  opacity:0;
  transition: opacity 2s ease;
}

.left_top:hover{
  opacity:1;
}

.left_middle{
  color:rgb(255, 120, 85);
  font-family: 'Italianno', cursive;
  font-size: 2rem;
  position:absolute;
  text-align: left;
  /* align-content: center; */
  width:680px;
  left:160px;
  opacity:0;
  transition: opacity 3s ease;
}

.left_middle:hover{
  opacity:1;
}

.left_mm{
  color:rgb(255, 120, 85);
  font-family: 'Italianno', cursive;
  font-size: 2rem;
  position:absolute;
  text-align: left;
  /* align-content: center; */
  width:400px;
  /* top:90%; */
  left:280px;
  opacity:0;
  transition: opacity 4s ease;
}

.left_mm:hover{
  opacity:1;
}

.right_middle{
  color:rgb(255, 120, 85);
  font-family: 'Italianno', cursive;
  font-size: 2rem;
  position:absolute;
  text-align: left;
  /* align-content: center; */
  width:500px;
  left:360px;
  opacity:0;
  transition: opacity 5s ease;
}

.right_middle:hover{
  opacity:1;
}

.right_bottom{
  color:rgb(255, 120, 85);
  font-family: 'Italianno', cursive;
  font-size: 2rem;
  position:absolute;
  text-align: left;
  /* align-content: center; */
  width:400px;
  left:500px;
  /* top:180%; */
  opacity:0;
  transition: opacity 6s ease;
}

.right_bottom:hover{
  opacity:1;
}

.right_bb{
  color:rgb(255, 120, 85);
  font-family: 'Italianno', cursive;
  font-size: 2rem;
  position:absolute;
  text-align: left;
  /* align-content: center; */
  width:600px;
  left:620px;
  /* top:150%; */
  opacity:0;
  transition: opacity 7s ease;
}

.right_bb:hover{
  opacity:1;
}

.refresh{
  font-family: 'Italianno', cursive;
  font-size: 2.5rem;
  color: white;
  position:fixed;
  top:-30px;
  right:10px;
}
